.navbar {
	background-color: #43425d;
	height: 70px;
}
.brand {
	color: whitesmoke;
	font-weight: bold;
	font-size: 2.5vw !important;
}

.links {
	color: whitesmoke;
}
.links:hover {
	color: whitesmoke;
}
.navbar-toggler2 {
	background-color: whitesmoke;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-radius: 10px;
	z-index: 999999;
}
.collapse {
	height: 100%;
}
li {
	height: 100%;
}
@media (min-width: 992px) {
	.navbar-toggler2 {
		display: none;
	}
}
.but {
	width: 100%;
	height: 100%;
}
li:hover {
	background-color: #1f1f33;
}
