.LiveMapBox {
	display: flex;
	flex-direction: row;
	position: relative;
}

.Stat-Box {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 20px;
	border-color: black;
	border-radius: 10px;
	border-width: 4px;
	border-style: solid;
	width: 30%;
	height: 12vw;
	align-items: center;
}

.Stat-title {
	font-weight: bold;
}

.line {
	color: black;
	width: 100%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	margin-bottom: 1vw;
}
